@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark,
.light {
    transition: background-color 0.4s, color 0.4s;
}

.dark {
    @apply bg-primary-gray-dark text-primary-white;
}

.post_detail__container {

    .notion {

        b {
            font-weight: 700;
        }

    }

    .notion-h {
        position: relative;
        font-weight: 500;
        line-height: 1.3;
        padding: 3px 2px;
        margin-bottom: 1px;
        max-width: 100%;
        width: fit-content;
        white-space: pre-wrap;
        word-break: break-word;
    }

    .notion-h1 {
        font-size: 1.875rem;
        margin-top: 1.08rem;
    }

    .notion-h2 {
        font-size: 1.5rem;
        margin-top: 1.1rem;
    }

    .notion-h3 {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .notion-header-anchor {
        position: absolute;
        top: 0;
        left: 0;
    }

    .notion-title+.notion-h1,
    .notion-title+.notion-h2,
    .notion-title+.notion-h3 {
        margin-top: 0;
    }

    .notion-h1:first-child {
        margin-top: 0;
    }

    /* .notion-h1:first-of-type {
        margin-top: 2px;
    } */

    /* .notion-h:hover .notion-hash-link {
        opacity: 1;
    } */

    .notion-hash-link {
        display: none;
    }

    .notion-bookmark {
        margin: 4px 0;
        width: 100%;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 3px;
        display: flex;
        overflow: hidden;
        user-select: none;
        border: 1px solid #232E2B;

        &>div:first-child {
            flex: 4 1 180px;
            padding: 12px 14px 14px;
            overflow: hidden;
            text-align: left;
        }

    }

    .notion-bookmark-title {
        font-size: .875rem;
        line-height: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 24px;
        margin-bottom: 2px;
    }

    .notion-bookmark-description {
        font-size: 12px;
        line-height: 16px;
        opacity: 0.8;
        height: 32px;
        overflow: hidden;
    }

    .notion-bookmark-link {
        display: flex;
        margin-top: 6px;
    }

    .notion-bookmark-link-icon {
        width: 16px;
        height: 16px;
        min-width: 16px;
        margin-right: 6px;
    }

    .notion-bookmark-link-text {
        font-size: 12px;
        line-height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .notion-bookmark-link-icon {

        img {
            max-width: 100%;
            max-height: 100%;
        }

    }

    .notion-bookmark-image {
        flex: 1 1 180px;
        position: relative;

        >* {
            position: absolute !important;
            width: 100%;
            height: 100%;
        }

        span {
            width: 100% !important;
            height: 100% !important;
            max-height: 100%;
        }

    }

    .notion-column .notion-bookmark-image {
        display: none;
    }

    .notion-callout {
        padding: 16px 16px 16px 12px;
        display: inline-flex;
        width: 100%;
        border-radius: 3px;
        border-width: 1px;
        align-items: center;
        box-sizing: border-box;
        margin: 4px 0;
        border: 1px solid var(--fg-color-0);

        .notion-page-icon-inline {
            align-self: flex-start;
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 1.3em;
        }

    }

    .notion-callout-text {
        margin-left: 8px;
        white-space: pre-wrap;
        word-break: break-word;
        width: 100%;
    }

    .notion-list {
        margin: 0;
        margin-block-start: 0.6em;
        margin-block-end: 0.6em;
    }

    .notion-list-disc {
        list-style-type: disc;
        padding-inline-start: 1.7em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .notion-list-numbered {
        list-style-type: decimal;
        padding-inline-start: 1.6em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .notion-list-disc li {
        padding-left: 0.1em;
    }

    .notion-list-numbered li {
        padding-left: 0.2em;
    }

    .notion-list li {
        padding: 6px 0;
        white-space: pre-wrap;
    }

    .notion-code {
        position: relative;
    }

    .notion-code-copy {
        position: absolute;
        top: 1em;
        right: 1em;
        user-select: none;
        z-index: 9;
        transition: opacity 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    }

    .notion-code-copy-button {
        display: inline-block;
        padding: 0.6em;
        font-size: 1.25em;
        line-height: 1em;
        cursor: pointer;

        transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1),
            color 0.2s cubic-bezier(0.3, 0, 0.5, 1),
            border-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04),
            inset 0 1px 0 rgba(255, 255, 255, 0.25);
        background-color: #f6f8fa;

        color: #24292f;
        border: 1px solid rgba(27, 31, 36, 0.15);
        border-radius: 6px;

        &:hover {
            background-color: #f3f4f6;
            border-color: rgba(27, 31, 36, 0.15);
            transition-duration: 0.1s;
        }

        &:active {
            background: hsla(220, 14%, 93%, 1);
            border-color: rgba(27, 31, 36, 0.15);
            transition: none;
        }

    }

    .notion-code .notion-code-copy {
        opacity: 0;
    }

    .notion-code:hover .notion-code-copy {
        opacity: 1;
    }

    .notion-code-copy-button svg {
        display: block;
    }

    .notion-code-copy-tooltip {
        pointer-events: none;
        position: absolute;
        bottom: -38px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        z-index: 99;
        font-size: 14px;
    }

    .notion-code-copy-tooltip>div {
        padding: 6px 8px;
        background: #222;
        color: #fff;
        border-radius: 6px;
    }

    .notion-toggle {
        width: 100%;
        padding: 3px 2px;
    }

    .notion-toggle>summary {
        cursor: pointer;
        outline: none;
    }

    .notion-toggle>div {
        margin-left: 1.1em;
    }

    .notion-hr {
        width: 100%;
        margin: 6px 0;
        padding: 0;
        border-color: #232E2B
    }

    .notion-to-do {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .notion-to-do-item {
        width: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 2px;
        min-height: calc(1.5em + 3px + 3px);
    }

    .notion-to-do-children {
        padding-left: 1.5em;
    }

    .notion-to-do-checked .notion-to-do-item {
        text-decoration: line-through;
        opacity: 0.375;
    }

    .notion-to-do-body {
        white-space: pre-wrap;
        word-break: break-word;
    }

    .notion-to-do-item .notion-property-checkbox {
        margin-right: 8px;
    }

    .notion-property-checkbox {
        width: 16px;
        height: 16px;
    }

    .notion-property-checkbox-checked {
        width: 16px;
        height: 16px;
        background: rgba(255, 255, 255, 0.4);
    }

    .notion-property-checkbox-checked svg {
        position: relative;
        display: block;
        /* top: -3px; */
        top: 1px;
        left: 1px;
        width: 14px;
        height: 14px;
        fill: #fff;
    }

    .notion-property-checkbox-unchecked {
        width: 16px;
        height: 16px;
        border: 1.3px solid rgba(255, 255, 255, 1);
    }

    &.dark {

        .notion-bookmark {
            border: 1px solid rgba(255, 255, 255, 0.4);
        }

        .notion-callout {
            background-color: rgb(35, 46, 43, 0.6);
        }

        .notion-hr {
            border-color: #CAD8D5;
        }

    }

}